In [73]:
import pandas as pd
import re

In [74]:
df = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\merged_data.csv ')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   manufacturer         8369 non-null   object
 1   model_year           8369 non-null   int64
 2   body_type            8365 non-null   object
 3   transmission_type    8369 non-null   object
 4   fuel_type            8369 non-null   object
 5   total_kms            8369 non-null   int64
 6   total_owners         8369 non-null   int64
 7   price                8369 non-null   float64
 8   insurance_type       8369 non-null   object
 9   mileage(kmpl)        8369 non-null   object
 10  engine(CC)           8369 non-null   object
 11  max_power(bhp)       8369 non-null   object
 12  torque(nm)           8369 non-null   object
 13  seats                8368 non-null   float64
 14  number_of_cylinders  8369 non-null   int64
 15  valves_per_cylinder  8369 non-null   int64
 16  super_charger        8369 non-null   object
 17  turbo_charger        8369 non-null   object
 18  gear_box             8369 non-null   object
 19  drive_type           8369 non-null   object
 20  steering_type        8369 non-null   object
 21  top_speed            8369 non-null   object
 22  cargo_volume         8369 non-null   object
 23  location             8369 non-null   object
dtypes: float64(2), int64(5), object(17)
memory usage: 1.5+ MB

##### **Mileage**

In [76]:
df['mileage(kmpl)']

0        23.1 kmpl
1          17 kmpl
2       23.84 kmpl
3        19.1 kmpl
4       23.65 kmpl
           ...
8364    25.24 kmpl
8365    22.74 kmpl
8366    11.74 kmpl
8367     18.5 kmpl
8368    19.72 kmpl
Name: mileage(kmpl), Length: 8369, dtype: object

In [77]:
def process_mileage(mileage):
    mil = re.sub(r'[A-Za-z/]', '', mileage)
    return float(mil)

In [78]:
df['mileage(kmpl)'] = df['mileage(kmpl)'].apply(process_mileage)

##### **Engine**

In [79]:
df['engine(CC)']

0        998 CC
1       1497 CC
2       1199 CC
3       1197 CC
4       1248 CC
         ...
8364     998 CC
8365     796 CC
8366    1796 CC
8367    1197 CC
8368    1461 CC
Name: engine(CC), Length: 8369, dtype: object

In [80]:
def process_engine(engine):
    eng = re.sub(r'[A-Za-z]', '', engine)
    return float(eng)

In [81]:
df['engine(CC)'] = df['engine(CC)'].apply(process_engine)

##### **Max power**

In [82]:
df = df.drop('max_power(bhp)', axis = 1)

##### **Torque**

In [83]:
df['torque(nm)']

0           90Nm
1          150Nm
2          114Nm
3       113.75Nm
4          200Nm
          ...
8364        89Nm
8365        69Nm
8366       285Nm
8367       114Nm
8368       245Nm
Name: torque(nm), Length: 8369, dtype: object

In [84]:
def process_torque(torque):
    tor = re.sub(r'[a-zA-Z-/]|[0-9]{1}[,][0-9]{3}|[0-9]{4}|[(]{1}[0-9]{2}[.][0-9]{1}[)]', '', torque)
    return float(tor)

In [85]:
df['torque(nm)'] = df['torque(nm)'].apply(process_torque)

##### **Gear Box**

In [86]:
df = df.drop('gear_box', axis = 1)

##### **Top Speed**

In [87]:
df = df.drop('top_speed', axis = 1)

##### **Cargo Volume**

In [88]:
df['cargo_volume'].head()

0    235-litres
1    352-litres
2    242-litres
3    407-litres
4    353-litres
Name: cargo_volume, dtype: object

In [89]:
def process_cargo_volume(cargo_volume):
    if len(cargo_volume) > 3:
        cargo = re.sub(r'[a-zA-Z-\s()]|[/][0-9]{4}', '', cargo_volume)
        return float(cargo)
    else:
        return float(cargo_volume)

In [90]:
df['cargo_volume'] = df['cargo_volume'].apply(process_cargo_volume)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   manufacturer         8369 non-null   object
 1   model_year           8369 non-null   int64
 2   body_type            8365 non-null   object
 3   transmission_type    8369 non-null   object
 4   fuel_type            8369 non-null   object
 5   total_kms            8369 non-null   int64
 6   total_owners         8369 non-null   int64
 7   price                8369 non-null   float64
 8   insurance_type       8369 non-null   object
 9   mileage(kmpl)        8369 non-null   float64
 10  engine(CC)           8369 non-null   float64
 11  torque(nm)           8369 non-null   float64
 12  seats                8368 non-null   float64
 13  number_of_cylinders  8369 non-null   int64
 14  valves_per_cylinder  8369 non-null   int64
 15  super_charger        8369 non-null   object
 16  turbo_charger        8369 non-null   object
 17  drive_type           8369 non-null   object
 18  steering_type        8369 non-null   object
 19  cargo_volume         8369 non-null   float64
 20  location             8369 non-null   object
dtypes: float64(6), int64(5), object(10)
memory usage: 1.3+ MB

In [92]:
df = df.dropna()

In [93]:
df.to_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\final_data.csv', index = False)

---

In [94]:
df = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\final_data.csv')

In [95]:
df.shape

(8364, 21)

In [96]:
categories = ['manufacturer',
'body_type',
'transmission_type',
'fuel_type',
'total_owners',
'insurance_type',
'seats',
'number_of_cylinders',
'valves_per_cylinder',
'super_charger',
'turbo_charger',
'drive_type',
'steering_type',
'location'
]

for i in categories:
    print(df[i].value_counts())
    print('______________________________________________________________________')

manufacturer
Maruti                2249
Hyundai               1651
Honda                  865
Tata                   431
Mahindra               377
Toyota                 324
Renault                312
Ford                   311
Volkswagen             294
Mercedes-Benz          245
BMW                    184
Skoda                  161
Kia                    158
Audi                   156
Jeep                   112
MG                      90
Nissan                  77
Chevrolet               76
Datsun                  74
Land Rover              44
Volvo                   41
Jaguar                  35
Fiat                    31
Mitsubishi              14
Mini                    12
Citroen                  8
Porsche                  6
Lexus                    5
Mahindra Renault         5
Isuzu                    5
Mahindra Ssangyong       4
Hindustan Motors         4
Opel                     3
Name: count, dtype: int64
______________________________________________________________________
body_type
Hatchback        3567
SUV              2224
Sedan            2174
MUV               352
Minivans           23
Coupe              10
Pickup Trucks       6
Convertibles        6
Hybrids             1
Wagon               1
Name: count, dtype: int64
______________________________________________________________________
transmission_type
Manual       6048
Automatic    2316
Name: count, dtype: int64
______________________________________________________________________
fuel_type
Petrol      5549
Diesel      2673
Cng           98
Electric      28
Lpg           16
Name: count, dtype: int64
______________________________________________________________________
total_owners
1    5878
2    1981
3     374
4      80
0      32
5      19
Name: count, dtype: int64
______________________________________________________________________
insurance_type
Third Party insurance    4057
Comprehensive            3146
Third Party               630
Zero Dep                  303
Not Available             223
1                           4
2                           1
Name: count, dtype: int64
______________________________________________________________________
seats
5.0     7356
7.0      727
6.0      103
4.0       93
8.0       62
9.0       11
2.0        7
10.0       5
Name: count, dtype: int64
______________________________________________________________________
number_of_cylinders
4     6157
3     2013
6      129
5       23
2       16
7       13
8       12
23       1
Name: count, dtype: int64
______________________________________________________________________
valves_per_cylinder
4     7948
2      211
3      199
5        4
69       2
Name: count, dtype: int64
______________________________________________________________________
super_charger
No     8341
Yes      17
yes       3
NO        2
no        1
Name: count, dtype: int64
______________________________________________________________________
turbo_charger
No       4818
Yes      3425
Twin       60
NO         24
YES        16
no         10
yes         8
Turbo       2
twin        1
Name: count, dtype: int64
______________________________________________________________________
drive_type
FWD                                  6775
RWD                                   502
AWD                                   338
2WD                                   200
4WD                                   173
4X2                                    84
2 WD                                   60
Front Wheel Drive                      56
4X4                                    53
FWD                                    36
4x2                                    20
Two Wheel Drive                        20
4x4                                    19
RWD(with MTT)                           8
All Wheel Drive                         8
Rear Wheel Drive with ESP               7
Permanent all-wheel drive quattro       2
AWD INTEGRATED MANAGEMENT               1
2WD                                     1
4 WD                                    1
Name: count, dtype: int64
______________________________________________________________________
steering_type
Power         6601
Electric      1483
Electronic     107
Manual          83
Electrical      48
power           29
EPAS            10
Hydraulic        2
electric         1
Name: count, dtype: int64
______________________________________________________________________
location
Delhi        1483
Bangalore    1481
Hyderabad    1481
Chennai      1419
Kolkata      1380
Jaipur       1120
Name: count, dtype: int64
______________________________________________________________________

In [97]:
df = df.query('total_owners != 0')

---

In [98]:
df = df.query('insurance_type != "1"')
df = df.query('insurance_type != "2"')

In [99]:
df['insurance_type'] = df['insurance_type'].replace('Third Party', 'Third Party insurance')

---

In [100]:
df['super_charger'] = df['super_charger'].replace('NO', 'No')
df['super_charger'] =  df['super_charger'].replace('no', 'No')
df['super_charger'] = df['super_charger'].replace('yes', 'Yes')

---

In [101]:
df['turbo_charger'] = df['turbo_charger'].replace('NO', 'No')
df['turbo_charger'] = df['turbo_charger'].replace('no', 'No')
df['turbo_charger'] = df['turbo_charger'].replace('yes', 'Yes')
df['turbo_charger'] = df['turbo_charger'].replace('YES', 'Yes')
df['turbo_charger'] = df['turbo_charger'].replace('Turbo', 'Yes')
df['turbo_charger'] = df['turbo_charger'].replace('Twin', 'Yes')
df['turbo_charger'] = df['turbo_charger'].replace('twin', 'Yes')

In [102]:
df['drive_type'] = df['drive_type'].replace('FWD ', 'Front Wheel Drive')
df['drive_type'] = df['drive_type'].replace('RWD(with MTT)', 'RWD')
df['drive_type'] = df['drive_type'].replace('Rear Wheel Drive with ESP', 'RWD')
df['drive_type'] = df['drive_type'].replace('AWD', 'All Wheel Drive')
df['drive_type'] = df['drive_type'].replace('Permanent all-wheel drive quattro', 'All Wheel Drive')
df['drive_type'] = df['drive_type'].replace('AWD INTEGRATED MANAGEMENT', 'All Wheel Drive')
df['drive_type'] = df['drive_type'].replace('2WD', 'Two Wheel Drive')
df['drive_type'] = df['drive_type'].replace('2 WD', 'Two Wheel Drive')
df['drive_type'] = df['drive_type'].replace('4X2', 'Two Wheel Drive')
df['drive_type'] = df['drive_type'].replace('4X4', '4WD')
df['drive_type'] = df['drive_type'].replace('4 WD', '4WD')

---

In [103]:
df['steering_type'] = df['steering_type'].replace('power' ,'Power')
df['steering_type'] = df['steering_type'].replace('EPAS' ,'Power')
df['steering_type'] = df['steering_type'].replace('Electric', 'Electronic')
df['steering_type'] = df['steering_type'].replace('Electrical', 'Electronic')
df['steering_type'] = df['steering_type'].replace('electric', 'Electronic')

In [104]:
for i in categories:
    print(df[i].value_counts())
    print('______________________________________________________________________')

manufacturer
Maruti                2238
Hyundai               1647
Honda                  859
Tata                   429
Mahindra               374
Toyota                 324
Ford                   311
Renault                309
Volkswagen             293
Mercedes-Benz          245
BMW                    184
Skoda                  159
Kia                    158
Audi                   155
Jeep                   112
MG                      87
Nissan                  77
Chevrolet               76
Datsun                  74
Land Rover              43
Volvo                   41
Jaguar                  35
Fiat                    31
Mitsubishi              14
Mini                    12
Citroen                  8
Porsche                  6
Lexus                    5
Mahindra Renault         5
Isuzu                    5
Mahindra Ssangyong       4
Hindustan Motors         4
Opel                     3
Name: count, dtype: int64
______________________________________________________________________
body_type
Hatchback        3550
SUV              2213
Sedan            2165
MUV               352
Minivans           23
Coupe              10
Pickup Trucks       6
Convertibles        6
Hybrids             1
Wagon               1
Name: count, dtype: int64
______________________________________________________________________
transmission_type
Manual       6021
Automatic    2306
Name: count, dtype: int64
______________________________________________________________________
fuel_type
Petrol      5523
Diesel      2663
Cng           98
Electric      27
Lpg           16
Name: count, dtype: int64
______________________________________________________________________
total_owners
1    5874
2    1980
3     374
4      80
5      19
Name: count, dtype: int64
______________________________________________________________________
insurance_type
Third Party insurance    4661
Comprehensive            3140
Zero Dep                  303
Not Available             223
Name: count, dtype: int64
______________________________________________________________________
seats
5.0     7324
7.0      725
6.0      100
4.0       93
8.0       62
9.0       11
2.0        7
10.0       5
Name: count, dtype: int64
______________________________________________________________________
number_of_cylinders
4     6133
3     2001
6      128
5       23
2       16
7       13
8       12
23       1
Name: count, dtype: int64
______________________________________________________________________
valves_per_cylinder
4     7914
2      210
3      197
5        4
69       2
Name: count, dtype: int64
______________________________________________________________________
super_charger
No     8307
Yes      20
Name: count, dtype: int64
______________________________________________________________________
turbo_charger
No     4831
Yes    3496
Name: count, dtype: int64
______________________________________________________________________
drive_type
FWD                  6748
RWD                   515
Two Wheel Drive       362
All Wheel Drive       347
4WD                   226
Front Wheel Drive      92
4x2                    20
4x4                    16
2WD                     1
Name: count, dtype: int64
______________________________________________________________________
steering_type
Power         6615
Electronic    1627
Manual          83
Hydraulic        2
Name: count, dtype: int64
______________________________________________________________________
location
Hyderabad    1481
Bangalore    1479
Delhi        1476
Chennai      1397
Kolkata      1376
Jaipur       1118
Name: count, dtype: int64
______________________________________________________________________

In [105]:
df.to_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\processed_final_data.csv', index = False)

---