In [9]:
import pandas as pd

In [10]:
df1 = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\Processed_datasets\bangalore.csv')
df2 = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\Processed_datasets\chennai.csv')
df3 = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\Processed_datasets\delhi.csv')
df4 = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\Processed_datasets\hyderabad.csv')
df5 = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\Processed_datasets\jaipur.csv')
df6 = pd.read_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\Processed_datasets\kolkata.csv')

In [11]:
merged_df = pd.concat([df1, df2, df3, df4, df5, df6], axis = 0)

In [12]:
merged_df.head()

,manufacturer,model_year,body_type,transmission_type,fuel_type,total_kms,total_owners,price,insurance_type,mileage(kmpl),...,number_of_cylinders,valves_per_cylinder,super_charger,turbo_charger,gear_box,drive_type,steering_type,top_speed,cargo_volume,location
0,Maruti,2015,Hatchback,Manual,Petrol,120000,3,400000.0,Third Party insurance,23.1 kmpl,...,3,4,No,No,5 Speed,FWD,Power,150 Kmph,235-litres,Bangalore
1,Ford,2018,SUV,Manual,Petrol,32706,2,811000.0,Comprehensive,17 kmpl,...,3,4,No,No,5 Speed,FWD,Power,150 Kmph,352-litres,Bangalore
2,Tata,2018,Hatchback,Manual,Petrol,11949,1,585000.0,Comprehensive,23.84 kmpl,...,3,4,No,No,5 Speed,FWD,Power,150 kmph,242-litres,Bangalore
3,Hyundai,2014,Sedan,Manual,Petrol,17794,1,462000.0,Comprehensive,19.1 kmpl,...,4,4,No,No,5 Speed,FWD,Power,172km/hr,407-litres,Bangalore
4,Maruti,2015,SUV,Manual,Diesel,60000,1,790000.0,Third Party insurance,23.65 kmpl,...,4,4,No,Yes,5 Speed,FWD,Power,190 Kmph,353-litres,Bangalore

In [13]:
merged_df.shape

(8369, 24)

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8369 entries, 0 to 1380
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   manufacturer         8369 non-null   object
 1   model_year           8369 non-null   int64
 2   body_type            8365 non-null   object
 3   transmission_type    8369 non-null   object
 4   fuel_type            8369 non-null   object
 5   total_kms            8369 non-null   int64
 6   total_owners         8369 non-null   int64
 7   price                8369 non-null   float64
 8   insurance_type       8369 non-null   object
 9   mileage(kmpl)        8369 non-null   object
 10  engine(CC)           8369 non-null   object
 11  max_power(bhp)       8369 non-null   object
 12  torque(nm)           8369 non-null   object
 13  seats                8368 non-null   float64
 14  number_of_cylinders  8369 non-null   int64
 15  valves_per_cylinder  8369 non-null   int64
 16  super_charger        8369 non-null   object
 17  turbo_charger        8369 non-null   object
 18  gear_box             8369 non-null   object
 19  drive_type           8369 non-null   object
 20  steering_type        8369 non-null   object
 21  top_speed            8369 non-null   object
 22  cargo_volume         8369 non-null   object
 23  location             8369 non-null   object
dtypes: float64(2), int64(5), object(17)
memory usage: 1.6+ MB

In [15]:
merged_df.to_csv(r'C:\Users\Gayathri\OneDrive\Desktop\cardeckho\merged_data.csv', index = False)